<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- bootstrap here if needed --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="shortcut icon" href="../../public/assets/imgs/burger.png" type="image/x-icon">
    <title>Eat Me Some Burgers!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>