<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Cook-Dis-Burger-Again!{{else}}Eat-Dis-Burger!{{/if}}
    </button>

</li>